input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.input-holder {
    display: block;
    width: 99%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.input-searchbar {
    padding-left: 5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 35px;
    border-color: transparent;
}

.advanced-searchbar-container {
    margin-top: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    border-top-color: white;
    margin-top: 5px;
    border-bottom-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding-bottom: 15px;
}

.advanced-searchbar-date {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.advanced-searchbar-chips {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.advanced-searchbar-archive {
    margin-top: 15px;
    margin-left: 15px;
}

.input-searchbar-dimensions {
    width: 100%;
    text-align: center;
    background-position: 11px 7px;
    background-size: 20px 20px;
    border: 0;
    background-repeat: no-repeat;
}

.input-department {
    border: 0px;
    height: 25px;
    background: transparent;
}

.input-department-light {
    color: black;
}

.input-department-dark {
    color: white;
}

.chip-color-light {
    background-color: #fde800;
}

.chip-color-dark {
    background-color: #5affe7;
}

.input-date-light {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 35px;
    padding-left: 7px;
    padding-right: 7px;

    border: none;
    background-color: #e4e4e4;
}

.input-date-dark {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 35px;
    padding-left: 7px;
    padding-right: 7px;

    border: none;
    background-color: white;
}

.labels-light {
    color: black;
}

.labels-dark {
    color: #ffffff;
}

.date-start-label {
    margin-left: 12%;
}

.date-end-label {
    margin-left: 5%;
}

.input-date {
    margin-left: 5px;
}

.bkg-light {
    background-color: #f8f9fa;
}

.bkg-dark {
    background-color: #212b38;
}

.input-bkg-light {
    background-color: #e9e9e9;
}

.input-bkg-dark {
    background-color: #ffffff;
}

.searchbar-custom-light {
    height: 100%;
    background-color: white;
}

.searchbar-custom-dark {
    background-color: #37465b;
}
