:host {

    .hide-slider::-webkit-scrollbar{
        display: none;
      }
      
      .bkg-light{
        background-color: #f8f9fa;    
      }
      
      .bkg-dark{
        background-color: #212b38;    
      }
}